.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* 
.droppable {
  width: 200px;
  height: 200px;
  background-color: #9e9e9e;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  min-height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  width: 200px;
  height: 200px;
  background-color: #eeeeee;
  border-right: 2px dotted red;
}

.rien {
  width: 200px;
  height: 200px;
  left: 300px;
  background-color: #eeeeee;
  border-right: 2px dotted red;
} */
