:root{
  --board_padding : 5px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.board{
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: var(--board_padding);
  /* align-items: flex-start;  */
  top: 50px;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  background-color: #DDDDDD;
}

.droppable {
  width: 200px;
  height: 200px;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  min-height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  width: 200px;
  height: 200px;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

.rien {
  width: 200px;
  height: 200px;
  left: 300px;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

/* .menu{
  background-color: antiquewhite;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 230px;
  margin-top: 30px;
  height: 70px;
} */